{% extends "iRacingInsights/base.html" %}
{% load static %}
{% load irstats_extras %}

{% block title %}iRacing Stats | {{ block.super }}{% endblock %}
{% block meta-description %}Member Profile{% endblock %}
{% block meta-keywords %}{% endblock %}

{% block bodyclass %}{% endblock %}

{% block content_main %}

     <h1 class="display-4 text-uppercase">Tracks</h1>

    {% if track_listing %}
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3">
            {% for track in track_listing %}

                 <div class="col">
                    <div class="card shadow-sm">
                        <img src="{% getBannerImage track_assets track.details.0.track_id %}" />
                        <div class="card-body">
                            <h5 title="{{ track.sku }}" class="card-title">{{ track.track_name }} </h5>
                            <p class="card-text">{{ track.details.0.location }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                  <a href="/track/{{ track.sku }}" class="btn btn-sm btn-outline-secondary" role="button" aria-disabled="true">View</a>
                                </div>
                                <small class="text-muted">Variations: {{ track.variations }}</small>
                                <small class="text-muted">Created {{ track.details.0.created }}</small>
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
    {%  endif %}

{%  endblock %}

